
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240526/pngtree-astrology-zodiac-sign-of-horoscope-in-deep-blue-the-star-and-image_15731971.jpg);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: transparent;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(238, 236, 236, 0.2);
    text-align: center;
    max-width: 700px;
    overflow-x: hidden;
    border: 2px solid rgb(65, 129, 189);

}

.container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #b0c4de;
}

input[type="text"],
input[type="number"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background: #50c1e9;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #3a9bc7;
}

input:focus {
  outline: none;              
  box-shadow: 1px 1px 10px rgba(33,150,243,1);
  transition: none;
}

 .popup-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
  }
  .popup-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    text-align: center;
    width: 260px;
  }

   #closePopup {
    margin-top: 15px;
    padding: 8px 15px;
    background: #43A047;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #popupResult{
    color: #1e1e1f;
  }